<div class="d-flex justify-content-center div-card">
  <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 18rem;">

      <div class="card-body">
        <h5 class="card-title">Bem vindo(a) ao portal de acesso aos dados do aplicativo</h5>
        <p class="card-text">Aqui você será capaz de acessar os dados de usuários que jogaram através do aplicativo e poderá cadastrar novas palavras.
        </p>
        <a>Por onde começar: </a>
        <ul>
          <li><a href="listar/usuarios" class="card-link">Listar usuarios</a></li>
          <li> <a href="cadastrar" class="card-link">Cadastrar palavra</a></li>
        </ul>
       
      </div>

  </div>
</div>